<!-- Base File -->

{% extends 'base.html' %}

<!-- Loding Static -->

{% load static %}

<!-- ---------------- -->

{% block styles %}

<!-- 
    -------------------------------
    -- But your style links here --
    -------------------------------
 -->

{% endblock %}

<!-- ---------------- -->

{% block content %}

<!-- 
    --------------------------------
    -- But your page content here --
    --------------------------------
 -->

{% endblock %}

<!-- ---------------- -->

{% block scripts %}

<!-- 
    ----------------------------
    -- But your scripts  here --
    ----------------------------
 -->

{% endblock %}
