<!-- Base File -->

{% extends 'base.html' %}

<!-- Loading Static -->

{% load static %}

<!------ Styles ------>

{% block styles %}

<link rel="stylesheet" href="{% static 'css/category.css' %}" />
<link rel="stylesheet" href="{% static 'css/product.css' %}" />
<link rel="stylesheet" href="{% static 'css/team.css' %}" />

{% endblock %}

<!------ End-Styles ------>

<!------ Content ------>

{% block content %}

<div class="gap"></div>
<section class="category-sec">
  <div class="category-header">
    <div class="category-description">
      <div class="container">
        <p>the latest fashon for:</p>
        <h2>men</h2>
        <p class="desk-markting">
          latest fashon from the bestest and the coolest in the world and
          keeping up todate
        </p>
      </div>
      <!-- ./container -->
    </div>
    <!-- ./category-description -->
  </div>
  <!-- ./category-header -->
  <div class="team">
    <p class="label">the best designers in the world</p>
    <img src="{% static 'img/gallery/team-1.jpeg' %}" alt="" />
    <p class="team-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
      dignissimos exercitationem dolore distinctio consequuntur expedita debitis
      architecto hic modi voluptas.
    </p>
  </div>
  <div class="container">
    <div class="helpper">
      <div class="window">
        <div class="container">
          <div class="imgs">
            <img
              class="active"
              src="{% static 'img/product/product-1.jpeg' %}"
              alt=""
            />
            <img src="{% static 'img/product/product-1.jpeg' %}" alt="" />
            <img src="{% static 'img/product/product-1.jpeg' %}" alt="" />
          </div>

          <div class="slider">
            <img src="{% static 'img/product/images.jpeg' %}" alt="" />
            <div class="polits">
              <span class="active polit"></span>
              <span class="polit"></span>
              <span class="polit"></span>
            </div>
          </div>

          <div class="content">
            <h3 class="title prod-name">hand watch</h3>
            <p class="prod-desc">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
              eveniet?
            </p>
            <h3 class="title prod-colors">colors</h3>
            <div class="colors">
              <div class="cir a" color="#fff"></div>
              <div class="cir b" color="#fff"></div>
              <div class="cir c" color="#fff"></div>
              <div class="cir d" color="#fff"></div>
            </div>
            <h2 class="title qty">qountity</h2>
            <div class="controler">
              <button id="plus">+</button>
              <input type="text" value="1" />
              <button id="minuse">-</button>
            </div>
            <button class="add-to-cart">add to cart</button>
          </div>
        </div>
        <div class="close">
          <div class="icon">
            <i class="ti-close"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-parent">
      {% for p in products %}

      <div class="production">
        <div class="cart">
          <img src="{{p.img.url}}" alt="" />
          <h3 class="name">{{p.prodName}}</h3>
          <div class="pad-container">
            <p class="prd-desc">{{p.prodDiscrption}}</p>
            <div class="prod-bes">
              <h2 class="price">${{p.prodPrice}}</h2>
              <span class="offer">{{p.prodDescound}}% OFF</span>
            </div>
            <!-- ./prod-bes -->
            <div class="ratting">
              <div class="stars">
                <span data-set="{{p.prodRate}}"></span>
              </div>
              <!-- ./stars -->
              <button class="view">
                <i class="ti-heart"></i>
                view
              </button>
            </div>
            <!-- ./ratting -->
          </div>
          <!-- ./pad-conatiner -->
        </div>
        <!-- ./cart -->
      </div>

      {% endfor %}
    </div>
    <!-- flex-parent -->
  </div>
  <!-- ./container -->
  <!-- ./cat-products -->
  <div class="pagination">
    <ul>
      <li class="control"><</li>
      <li class="li-active">1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li class="control">></li>
    </ul>
  </div>
</section>
<!-- ./category -->

{% endblock %}

<!------ End-Content ------>

<!------ Scripts ------>

{% block scripts %}

<script src="{% static 'js/product_window.js' %}"></script>
<script src="{% static 'js/ratting.js' %}"></script>

{% endblock %}

<!------ End-Scripts ------>
